:root {
  --primary-font: "Roboto", sans-serif;
  --branding-color: #202020;
  --btn-color: #272142;
  --secondary-font: "Montserrat", sans-serif;
}

body {
  background: var(--branding-color);
}
h1 {
  font-size: 24px;
  font-weight: 700;
}
h2 {
  font-weight: 700;
  font-size: 72px;
}
.header {
  height: 118px;
  margin: 0 100px;
}
.navbar-collapse {
  flex-grow: unset;
}
.hero {
  background-image: url("/img/bg.png");
  background-position: center;
  font-family: var(--primary-font);
  color: #ffffff;
  text-align: center;
}

.hero .text {
  margin: 0 auto;
  width: 460px;
}
.hero p {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 18px;
}
.hero h1 {
  padding-top: 276px;
}
.hero .btn {
  background-color: #ffffff;
  border-radius: 50px;
  margin-bottom: 301px;
}
.btn-hero {
  text-decoration: none;
  color: var(--btn-color);
  line-height: 17px;
  font-size: 14px;
  font-weight: 700;
  padding: 18px 30px;
  font-family: var(--secondary-font);
}
